* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;

  background: transparent;

  font-family: inherit;

  text-decoration: none;
}

ol,
ul,
li {
  list-style: none;
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a img {
  border: none;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

textarea {
  resize: none;
}

button,
input,
textarea,
select {
  appearance: none !important;
  -webkit-appearance: none !important;
  border-radius: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f7e4d4;
}

#root {
  min-width: 100vw;
  min-height: 100vh;
  position: relative;
}

#root .contentDiv {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 519px) {
  #root {
    width: calc(100vw - 40px);
    justify-content: center;
    align-items: center;
  }
}

.titleDiv {
  margin: 0.5em;
  width: 100%;
  text-align: center;
}

.titleDiv h1 {
  font-family: "EB Garamond", serif;
  font-weight: normal;
  font-size: 48px;
  color: #467745;
}
@media only screen and (max-width: 519px) {
  .titleDiv {
    text-align: left;
    width: calc(100vw - 40px);
  }

  .titleDiv h1 {
    font-size: 36px;
  }
}

.contentDiv form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5em 0;
}

.formDiv input[type="text"] {
  max-width: 480px;
  height: 64px;
  margin: 0.5em 0 0.5em 0;
  padding: 0.8em;
  align-self: stretch;

  background-color: white;

  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #467745;
}
.formDiv input[type="text"]::placeholder {
  color: #467745;
  font-family: "Montserrat", sans-serif;
}

textarea {
  max-width: 480px;
  height: 120px;
  margin: 0.5em 0 0.5em 0;
  padding: 0.8em;
  align-self: stretch;

  background-color: white;
  font-weight: 500;
  font-size: 16px;
}

textarea::placeholder {
  color: #467745;
  font-family: "Montserrat", sans-serif;
}

.formDiv .checkboxDiv {
  display: flex;
  align-self: stretch;
  align-items: center;
  justify-content: ;

  margin: 1em 0;
}

.formDiv input[type="checkbox"] {
  min-width: 20px;
  min-height: 20px;
  margin: 0.1em 0 0.4em 0;

  background-color: white;
  outline: none;
  font-weight: 500;
  font-size: 16px;
  color: #467745;
  word-wrap: break-word;
}

.checkboxDiv label {
  margin-left: 0.5em;
  align-self: stretch;

  color: #467745;
}

button {
  max-width: 280px;
  height: 80px;
  margin: 1em;

  align-self: stretch;

  background-color: #467745;
  border-radius: 50px;

  color: #f7e4d4;
  font-family: "EB Garamond", serif;
  font-size: 21px;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 0.2em;
}
